body{
    background-color: blueviolet;
}
#nanp{
    margin-left: 420px;
    border: 5px solid grey;
    margin-right: 380px;
}
.niki
{
    border-radius: 5px;
}
.na00
{
    margin-left: 200px;
}
.na111
{
    margin-left: 1000px;
}